#div {
  background-image: url("https://picsum.photos/id/237/1000/1000");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px rgb(108, 22, 22);
  padding: 1em;
  font-size: 1.4rem;

  h1{
    margin: .1em;
  }
}
