.container {
  width: 50%;
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  outline: 3px groove rgb(233, 102, 102);


  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;

    .buttonDelete {
      background-color: red;
      padding: 1em;
      color: white;
      border-radius: 10px;
    }
    .buttonLike {
      background-color: green;
      padding: 1em;
      color: white;
      border-radius: 10px;
    }
  }
  .likes {
    margin-bottom: 1em;
    font-size: 2rem;
  }
}
