// palette
$navBg: rgb(20, 20, 120);
$navList: white;
$navBorder: gainsboro;
$navShadow: rgb(213, 141, 24);
$button: rgb(207, 135, 25);

$footerBg: rgb(39, 95, 199);

// distanziamento
$paddingCont: 1em 2em;
