@media screen and (min-width:480px) { /* SMARTPHONE */
    html {
        font-size: 70%;
    }
        body {
            line-height: 1.8;
        }
            header {
            padding: 1em;
            }
            table {
                margin: 0 auto 2em;
            }
            input {
                display: inline-block;
                width: 70%;
            }
}


@media screen and (min-width:768px) { /* TABLET */
    html {
        font-size: 80%;
    }
        body {
            line-height: 2;
        }
        header {
            padding: 1em;
        }
        main {
            padding: 2em;
        }
            table {
                width: 70%;
            }
            input {
                padding: 15px;
            }
            button {
                padding: 15px 30px;
            }
        footer {
            padding: 1em 12em;
        }
}

@media screen and (min-width:1200px) { /* DESKTOP */
    html {
        font-size: 100%;
    }
    body {
        line-height: 2.4;
    }
    header, main, footer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media print { /* STAMPA */
    body {
        font-size: 24px;
        padding: 0;
        background-image: none;
    }
    main {
        box-shadow: none;
        margin: 0;
    }
    thead tr {
        background-color: #d3d3d3;
        color: black;
    }
    thead tr, tbody tr {
        border-bottom: 1px solid #666;
    }
    
    header, article section, iframe, aside, footer, .social, .toTop {
        display: none;
    }
}